
Lab8/.ipynb_checkpoints/lab07-checkpoint.ipynb
Lab1/.ipynb_checkpoints/lab01-checkpoint.ipynb
Lab2/.ipynb_checkpoints/lab02-checkpoint.ipynb
Lab3/.ipynb_checkpoints/lab03-checkpoint.ipynb
Lab4/.ipynb_checkpoints/lab04-checkpoint.ipynb
Lab7/.ipynb_checkpoints/lab05-checkpoint.ipynb
Lab7/.ipynb_checkpoints/lab06-checkpoint.ipynb
Lab7/.ipynb_checkpoints/lab06_withsolutions-checkpoint.ipynb
Lab7/.ipynb_checkpoints/lab07-checkpoint.ipynb
Lab8/.ipynb_checkpoints/lab05-checkpoint.ipynb
Lab8/.ipynb_checkpoints/lab06-checkpoint.ipynb
Lab8/.ipynb_checkpoints/lab06_withsolutions-checkpoint.ipynb
Lab8/.ipynb_checkpoints/lab08-checkpoint.ipynb
Midterm2_2021/.ipynb_checkpoints/midterm2-checkpoint.ipynb
PRIVATE DO NOT UPLOAD/Midterm2PRIVATE/.ipynb_checkpoints/midterm2-checkpoint.ipynb
PRIVATE DO NOT UPLOAD/Midterm2PRIVATE/data.csv
PRIVATE DO NOT UPLOAD/Midterm2PRIVATE/midterm2.ipynb
PRIVATE DO NOT UPLOAD/Midterm2PRIVATE/midterm2_answers.do
Lab5/.ipynb_checkpoints/lab05-checkpoint.ipynb
Lab6/.ipynb_checkpoints/lab06-checkpoint.ipynb
.DS_Store



